{% extends "techmarket/base.html" %}
{% block content %}
  <div class="content-section">
    <h1 class="mb-4 border-bottom">Product Categories</h1>
    {% if categories %}
      <div class="list-group">
        {% for category in categories %} <!-- dispaly clickable list items -->
          <!-- Link each category name to its product list page using its slug -->
          <a href="{% url 'techmarket:product-list-by-category' category.slug %}" class="list-group-item list-group-item-action">
            {{ category.name }}
          </a>
        {% endfor %}
      </div>
    {% else %} <!-- If theres no catagories show this message -->
      <p>No categories found.</p>
    {% endif %}
  </div>
{% endblock content %} 