{% extends "techmarket/base.html" %}

{% block content %}
<div class="content-section">
    <h1>Privacy Policy</h1>
    <p>Last updated: 25th April 2025</p>

    <p>Welcome to TechMarket. We are committed to protecting your personal information. </p>

    <h2>Information We Collect</h2>
    <p>THIS IS FOR MY UNIVERSITY PROJECT AND IS NOT A REAL WEBSITE</p>
    
    <ul>
        <li><strong>Personal Information Provided by You:</strong> We collect names; email addresses; usernames; passwords; contact preferences; NON OF THIS INFORMATION IS REAL OR SAVED WILL NOT BE USED FOR ANYTHING</li>
        <li><strong>Payment Data:</strong>SHOULD BE FAKE DATA</li>
    </ul>

    <h2>How We Use Your Information</h2>
    <p>THIS IS FOR MY UNIVERSITY PROJECT AND IS NOT A REAL WEBSITE</p>

    <h2 id="cookies">Cookies and Similar Technologies</h2>
    <p>THIS IS FOR MY UNIVERSITY PROJECT AND IS NOT A REAL WEBSITE</p>

    <h2>Sharing Your Information</h2>
    <p>THIS IS FOR MY UNIVERSITY PROJECT AND IS NOT A REAL WEBSITE</p>

    <h2>Your Privacy Rights</h2>
    <p>THIS IS FOR MY UNIVERSITY PROJECT AND IS NOT A REAL WEBSITE</p>

    <h2>Contact Us</h2>
    <a href="{% url 'techmarket:contact' %}" class="btn btn-outline-secondary" role="button">Contact Us</a>

</div>
{% endblock content %} 