{% extends "techmarket/base.html" %}
{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Display category name if applicableotherwise default title -->
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    {% if user.is_authenticated %}
      <!-- Link to the product creation page -->
      <a href="{% url 'techmarket:product-create' %}" class="btn btn-outline-info">List New Product</a>
    {% endif %}
  </div>

  {% if products %} 
    {% for product in products %}
      <article class="media content-section mb-3">
        {% if product.image %}
          <img class="rounded article-img me-3" src="{{ product.image.url }}" alt="{{ product.name }}">
        {% endif %}
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ product.seller.username }}</a>
          </div>
          <!-- Aria label to the product titl -->
          <h2><a class="article-title" href="{% url 'techmarket:product-detail' product.pk %}" aria-label="{{ product.name }}, view product details">{{ product.name }}</a></h2>
          {% if product.category %}
            <p class="text-muted small mb-1">Category: <a href="{% url 'techmarket:product-list-by-category' product.category.slug %}">{{ product.category.name }}</a></p>
          {% endif %}
          {% if product.price %}
            <p class="article-content">Price: £{{ product.price }}</p>
          {% endif %}
          <p class="article-content">{{ product.description }}</p>
          <!-- Update Add to Basket Form -->
          <form action="{% url 'techmarket:add-basket' product.id %}" method="post" class="mt-2">
            {% csrf_token %}
            <input type="hidden" name="quantity" value="1">
            <button type="submit" class="btn btn-outline-success btn-sm">Add to Basket</button>
          </form>
        </div>
      </article>
    {% endfor %}
  {% else %}
    <p>No products found{% if category %} in the category "{{ category.name }}"{% endif %}.</p>
    {% if not user.is_authenticated %}
       <p><a href="{% url 'login' %}">Login</a> to list a product.</p>
    {% endif %}
  {% endif %}
  {% if is_paginated %}
  <div class="pagination">
      {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
              <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
  </div>
  {% endif %}
{% endblock content %}
